- if @restaurants.any?
  - @restaurants.each do |restaurant|
    = link_to restaurant.name, restaurant_path(restaurant)
- else
  No restaurants yet!

= link_to 'Add a restaurant', new_restaurant_path
